
body{
  background-color:white ;
}
.container{
  background-color:white;
}
nav{
  text-align;
  }
h1{
  text-align: center;
  justify-content: center;
  font-weight: 500;

}
.row{
  margin:10px;
  justify-content: space-evenly;
}
.my-col{
  width: 350px;
  border: 1px solid black;
  background-color: burlywood;
  padding: 10px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 2),
  0px 2px 4px -1px rgba(0, 0, 0, 0.07);
  margin: 15px;
}
 .my-col > h3{
  border: 1px solid black;
  background-color:lightblue;
  border-radius: 0.450px;
  color: brown;
  float: right;
  position: relative;
  left: 11px;
  top: -10px;
}
.my-col > h3:hover{
  cursor: pointer;
  font-size: x-large;
  font-weight: 800;
  box-shadow:0px 4px 6px -1px rgba(0, 0, 0, 1),
  0px 2px 4px -1px rgba(0, 0, 0, 0.06)
}

p{
  clear: both;
}

/* desktop size lg*/
@media screen and (min-width:992px)and (max-width:1400px){

  .my-col:nth-child(1){
    width: 44.8%;
    height: 200px;
  }
  .my-col:nth-child(2){
    width: 44.8%;
    height: 200px;
  }
  .my-col:nth-child(3){
    width: 93%;
    height: 200px;
    margin-top:30px
  }
 
}
/* tablet size md*/
@media screen and(min-width:768px)and (max-width:991px){

  .my-col:nth-child(1) {
    width: 50%;
    height: 300px;
  }
  .my-col:nth-child(2) {
    width: 50%;
    height: 300px;
 }
  .my-col:nth-child(3) {
    width: 50%;
    height: 300px;
  }

}
/* mobile size sm*/
@media screen and(min-width:360)and(max-width:767px){
   .my-col:nth-child(1) {
    width: 45%;
    height: 300px;
  }
  .my-col:nth-child(2) {
    width: 45%;
    height: 300px;
  }

  .my-col:nth-child(3) {
    width: 45%;
    height: 300px;
  }
}
@media screen and (min-width:680px)and (max-width:1400px) {
 h1 {
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
 }
}
